@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 8000px;
    padding: 0px;
    margin: 0;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    scroll-behavior: smooth;
    background-color: #180d5b;
}

.wrapper {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    width: 100%;
    height: 100vh;
}

section {
    scroll-snap-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;

}

li {
    list-style: none;
}

h1,
p {
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: bold;
    font-size: 40px;
}

p {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.header {
    position: fixed;
    left: 5%;
    top: 0;
    width: 100%;
    z-index: 3;
}

.nav {
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 968px;
}

.nav_logo {
    color: white;
    transition: .4s;
}

.nav_menu {
    position: fixed;
    bottom: 1rem;
    width: 90%;
    border-radius: 4rem;
    padding: 1rem 2.25rem;
    background: rgba(66, 232, 224, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
}

.nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_link {
    color: white;
    font-size: 1.25rem;
    padding: .4rem;
    display: flex;
    border-radius: 5rem;
    text-decoration: none;
}

.active_link {
    background: linear-gradient(to left, #5c9fd2, #42e8e0);
    box-shadow: 0 0 16px #42e8e0;
}

.banner {
    height: 100vh;
    position: relative;
    display: flex;
    max-width: 100vw;
}

.banner::before {
    position: absolute;
    content: "";
    background: linear-gradient(180deg, rgba(2, 0, 36, 0) 0%, rgba(9, 9, 121, 0) 50%, rgba(66, 232, 224, .4) 100%);
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.left {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 50%;
    flex-direction: column;
}

.textbox {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70%;
    text-align: left;
}

.textbox a {
    background: linear-gradient(to left, #417094, #42e8e0);
    width: fit-content;
    padding: 15px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 0px 0px 60px #42e8e0;
    font-size: 20px;
    /* animation: buttoneffect 10s ease-in  infinite; */
}
.about{
    position: relative;
    max-width: 80vw;
    height: 70%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.aboutimg{
    display: flex;
    position: relative;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.aboutimg img{
    width: 300px;
}
.aboutbox{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.abouttext{
text-align: left;
}
.aboutblocks{
    width: 100%;
    position: relative;
    display: flex;
}
.block{
    width: 200px;
    height: 100px;
    background: rgba(66, 232, 224, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    margin: 20px 20px 20px 0px;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.block i{
    font-size: 25px;
    margin-bottom: 10px;

}
/* .block span{
    font-size: 15px;
} */
.aboutbutton{
    position: relative;
    display: flex;
    justify-content:left;
    align-items: start;
    width: 100%;
}
.aboutbutton a{
    background: rgba(66, 232, 224, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    width: fit-content;
    padding: 15px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-top: 10px;
}


@keyframes buttoneffect {
    0% {
        box-shadow: 0px 0px 60px #42e8e0;

    }

    50% {
        box-shadow: 10px 5px 80px #42e8e0;
    }

    100% {
        box-shadow: 0px 0px 60px #42e8e0;
    }
}

.left p {
    margin-top: 10px;
}

.left a {
    margin-top: 50px;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
}

.right img {
    max-width: 600px;
    width: 70%;
}

.services {
    display: flex;
    width: 100%;
    position: relative;
    flex-direction: column;
    padding-top: 300px;
    align-items: center;
}

.services::before {
    position: absolute;
    content: "";
    background: linear-gradient(180deg, rgba(66, 232, 224, .4) 0%, rgba(9, 9, 121, 0) 10%, rgba(2, 0, 36, 0) 100%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.skill {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: center;

    max-width: 80vw;
    z-index: 2;
}

.skillimg {
    width: 50%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.skillimg img {
    width: 70%;
    max-width: 315px;
}

.skilltext {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 70%;
    text-align: right;
    justify-content: center;
    align-items: end;

}

.skillbutton a {
    background: linear-gradient(to left, #417094, #42e8e0);
    width: fit-content;
    padding: 15px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 0px 0px 60px #42e8e0;
    font-size: 20px;
    margin-top: 30px;
}

.text-skill {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    width: 50%;
    flex-direction: column;
}

.skilltext-left {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 70%;
    text-align: right;
    justify-content: center;
    align-items: end;

}

.skilltext-right {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 70%;
    text-align: left;
    justify-content: center;
    align-items: start;

}

.skill::before {
    position: absolute;
    content: "";
    top: -7.5%;
    left: 5%;
    border: solid 3px #42e8e0;
    border-radius: 20px;
    width: 90%;
    height: 120%;
    box-shadow: 0px 0px 30px #42e8e0;

}

@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 0px 0px 80px 0px;
    background: transparent;
    white-space: nowrap;
    position: relative;
    width: 70vw;
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #180D5B);
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #180D5B);
  }
  
/*   .logos:hover .logos-slide {
    animation-play-state: paused;
  } */
  
  .logos-slide {
    display: inline-block;
    animation: 85s slide infinite linear;
  }
  
  .logos-slide img {
    height: 35px;
    margin: 0 40px;
    opacity: .7;
  }

.secblock{
    flex-direction: column;
}
.partnertitle{
    padding: 0px 0px 40px 0px;
}

@media screen and (max-width: 640px) {

    p,
    a {
        font-size: 15px;
    }

    .nav_menu {
        padding: 1rem 1.5rem;
    }

    h1 {
        font-size: 25px;
    }

    .textbox {
        text-align: center;
        align-items: center;
    }

    .banner,
    .services,
    .skill, .about {
        flex-direction: column;
    }

    .left {
        width: 100%;
        height: 50%;

    }

    .left a {
        margin-top: 25px;
    }

    .right,
    .skillimg {
        width: 100%;
    }

    .right img {
        width: 90%;
    }

    .skill {
        max-width: 100vw;
        height: 56vh;
    }

    .text-skill {
        width: 100%;
        margin-top: 43px;
    }

    .skillimg img {
        width: 170px;
    }

    .skilltext-left,
    .skilltext-right {
        text-align: center;
        align-items: center;
    }

   
    .aboutbox{
        width: 80vw;
    }
    .aboutimg img{
        width: 170px;
    }
    .aboutbutton a{
        font-size: 15px;
    }
    .block span{
        font-size: 13px;
    }
    .partnertitle{
        font-size: 15px;
        padding: 40px 0px 40px 0px;
        max-width: 80vw;
    }
    .logos:before, .logos:after{
        width: 54px;
    }
    .reverse{
        flex-direction: column-reverse;
    }
    

}

@media screen and (min-width: 640px) {
    .nav_menu {
        width: 328px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

}
